<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.7.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="NUnit" version="3.2.0" targetFramework="net452" />
  <package id="NUnit3TestAdapter" version="3.15.1" targetFramework="net45" />
</packages>