<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FParsec" version="1.0.2" targetFramework="net461" />
  <package id="FParsec-Pipes" version="0.1.1.0" targetFramework="net461" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net461" />
  <package id="GraphQL.Net" version="0.3.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="NUnit" version="3.2.1" targetFramework="net461" />
</packages>